{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col-md-6">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>{{ object.title }}</h5>
                    </div>
                    <img src="{{ object.image| my_media }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ object.body }}</p>
                    </div>
                    <div class="col mb-3 md-3">
                        <a href="{% url 'blog:article_update' object.pk %}"
                           class="btn btn-outline-info">Редактировать</a>
                        <a href="{% url 'blog:article_delete' object.pk %}"
                           class="btn btn-outline-danger">Удалить</a>
                    </div>
                </div>
                <h6>Кол-во просмотров: {{ object.count_views }}</h6>
            </div>
        </div>
    </div>

{% endblock %}